/* My Basic CSS Style */


/* Change the font-size of the specified html element. */

/* Check out different units of measure for CSS properties.

	http://www.w3schools.com/cssref/css_units.asp

*/

/* Change the font size of the selected element. */
.larger_font{
	font-size: xx-large;
}

/* Change the font color of the selected element.

	More information - http://www.w3schools.com/cssref/pr_text_color.asp

*/
.blue{
	color: blue;
}

/* Change the text-decoration of the selected element.

	More information - http://www.w3schools.com/cssref/pr_text_text-decoration.asp

*/
.underline{
	text-decoration: underline;
}

/* Change the font-family of the selected element.

	More information - http://www.w3schools.com/cssref/pr_font_font-family.asp

*/
.comic_sans{
	font-family: "Comic Sans MS";
}

/* Change the text-align of the selected element.

	More information - http://www.w3schools.com/cssref/pr_font_font-family.asp

*/
.center{
	text-align: center;
}

/* Box Model from slides. 

	More Information

	margin - http://www.w3schools.com/cssref/pr_margin.asp
	padding - http://www.w3schools.com/cssref/pr_padding.asp
	width/height - http://www.w3schools.com/cssref/pr_dim_height.asp
	border - http://www.w3schools.com/cssref/pr_border.asp
	background - http://www.w3schools.com/cssref/css3_pr_background.asp

*/

#box_model{
	margin: 20px 20px 20px 20px;
	padding: 10px 10px 10px 10px;
	width: 300px;
	height: 300px;
	border: 5px solid black;
	background: red;
}

/* Define a custom link

	More Information
	
	:hover - http://www.w3schools.com/cssref/sel_hover.asp
	
*/ 

#custom_link:hover{
	text-decoration: overline;
	color: green;
	font-size: xx-large;
}
